ul
		{
         margin: 0px;
         padding: 0px;
         list-style: none;
         height: 100px;
         line-height: 100px;
         background-color: lightblue;
         font-size: 30px;
		}
        li 
        {
          display: inline-flex;

        } 
        a
        {
            display: block;
            padding: 0px 20px;
            text-decoration: none;
        } 
         a:hover
       {

        background-color: red;
       }