h1
{
	background: darkgrey;
	font-size: 30px;
	width: 300px;


}
h2
{

/*border: 5px solid blue;*/
background: green;
}
img
{    background: green;
	
	height: 200px;
	width: 300px;
}
body
{
	 background: lightblue;
}
p{
     background: lightgreen;
}
